<section class="app-posts" *ngIf="(status$ | async) as status">
  <div class="container" *ngIf="(cta$ | async) as cta">
    <div class="row">
      <div class="col-8 mx-auto">
        <h1>All Posts</h1>
      </div>
      <div class="col-8 mx-auto">
        <span class="app-posts__filter__container">
          <mat-form-field class="w-100">
            <mat-icon matPrefix>search</mat-icon>
            <mat-label>Filter posts</mat-label>
            <input type="text" matInput placeholder="Type to begin searching ..." (keydown.enter)="searchPosts($event)">
          </mat-form-field>
        </span>
      </div>
      <div class="col-8 mx-auto">
        <div class="app-posts__table__container" [class.overflow-hidden.h-100]="status === 'loading'">
          <!-- 
          <div class="app-posts__spinner-container" *ngIf="status === 'loading' && cta !== 'delete'">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          </div> -->

          <article *ngIf="(allPosts$ | async) as posts" class="row">
            <div class="col-12" *ngFor="let post of posts; let i = index; trackBy: postTrackByFn"
              (click)="onPostClick(cta, post)">

              <div class="app-posts__item">

                <span class="d-flex align-items-center justify-content-between">

                  <p>{{post?.title}}</p>
                  <button mat-icon-button color="warn" aria-label="Delete post" (click)="deletePost(post.id)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </span>
                <small class="app-posts__item__user">Created by: {{post?.user?.username}}</small>

              </div>

              <div *ngIf="status === 'loading' && post.id === selectedPostToDelete">
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
              </div>

            </div>

          </article>
        </div>

        <mat-paginator class="app-posts__mat-paginator" [length]="allPostsCount$ | async"
          [pageSize]="pageSizeOptions[0]" [pageSizeOptions]="pageSizeOptions" showFirstLastButtons
          aria-label="Select page of posts" (page)="
          handlePageEvent($event)">
        </mat-paginator>
      </div>
    </div>

    <!-- ADD CTA - START -->
    <button matRipple type="button" class="app-posts__add" (click)="onAddPost()"
      [@cta]="cta === 'add' ? 'cta-click' : 'void'" (@cta.done)="onAddPostAnimationEnd(cta)">
      <mat-icon matRipple aria-label="New Post">
        add
      </mat-icon>
    </button>
    <!-- ADD CTA - END -->
  </div>

</section>
