.app-posts {
  &__table {
    display: flex;
    align-items: center;
    &__container {
      max-height: 70vh;
      overflow: auto;
    }
  }
  &__mat-paginator {
    bottom: 0px;
    position: sticky;
    z-index: 10;
  }
  &__spinner {
    &-container {
      min-height: 70vh;
      // z-index: 1212231;
      background-color: transparent;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
