@import "custom-styles";

.app-posts {
  &__add {
    text-decoration: none;
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: $purple;
    border-radius: 50%;
    border: 1px solid $purple;
    color: white;
    padding: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    i {
      margin-right: 15px;
      color: white;
    }
  }

  &__table {
    display: flex;
    align-items: center;
    &__container {
      max-height: 70vh;
      overflow: auto;
    }
  }
  &__mat-paginator {
    bottom: 0px;
    position: sticky;
    z-index: 10;
    background-color: transparent;
  }
  &__spinner {
    &-container {
      min-height: 100vh;
      background-color: transparent;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  &__item {
    background: white;
    border-radius: 5px;
    padding: 15px;
    margin-top: 15px;

    border: 1px solid rgba(black, 0.068);

    &__user {
      font-size: 12px;
      font-style: italic;
      color: rgb(70, 59, 59);
    }
    &__icon {
      font-size: 12px;
      height: 12px !important;
      width: 12px !important;
    }

    &__footer {
      font-size: 10px;
      color: #555;
      display: flex;
      align-items: center;
    }

    &:hover {
      box-shadow: 0px 2px 15px 2px rgba(black, 0.068);
      cursor: pointer;
    }
  }

  &__card {
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid lightgray;
    background-color: white;
  }
}
