<section class="app-posts" *ngIf="(status$ | async) as status">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>All Posts</h1>
      </div>
      <div class="col-10 mx-auto">
        <span class="app-posts__filter__container">
          <mat-form-field class="w-100">
            <mat-icon matPrefix>search</mat-icon>
            <mat-label>Filter posts</mat-label>
            <input type="text" matInput placeholder="Type to begin searching ..." (keydown.enter)="searchPosts($event)">
          </mat-form-field>
        </span>
      </div>
      <div class="col-10 mx-auto">
        <div class="app-posts__table__container">

          <div class="app-posts__spinner-container" *ngIf="status === 'loading'">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          </div>

          <table class="mat-elevation-z8" mat-table *ngIf="(allPosts$ | async) as posts" [dataSource]="posts"
            [hidden]="status === 'loading'">

            <ng-container *ngFor="let column of displayedColumns">
              <ng-container matColumnDef="{{column}}">
                <th mat-header-cell *matHeaderCellDef> {{column | titlecase}} </th>
                <td mat-cell *matCellDef="let element">
                  {{element?.[column]}} </td>
              </ng-container>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>

          <mat-paginator class="app-posts__mat-paginator" [length]="allPostsCount$ | async"
            [pageSize]="pageSizeOptions[0]" [pageSizeOptions]="pageSizeOptions" showFirstLastButtons
            aria-label="Select page of posts" (page)="
          handlePageEvent($event)">
          </mat-paginator>
        </div>

      </div>
    </div>
  </div>

</section>
