@import "colors";

@mixin footerButton($mainColor) {
  padding: 10px 20px;
  border: 1px solid $mainColor;
  border-radius: 3px;
  transition: 0.2s ease all;
  background: $mainColor;
  color: white;

  &:hover {
    transition: 0.2s ease all;
    background: white;
    color: $mainColor;
  }
}

.app-post-item {
  &__back-icon {
    font-size: 50px;
    height: 50px !important;
    width: 50px !important;
    color: $purple;
    cursor: pointer;
    margin-bottom: 3em;
  }

  &__delete-icon {
    @extend .app-post-item__back-icon;
    color: $ruby-red;
  }
  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__cancel-btn {
      @include footerButton($eggplant);
    }

    &__save-btn {
      @include footerButton($medium-sea-green);
    }
  }
}
